* {
  margin: 0;
  padding: 0;
}

/* Header */

header ul {
  list-style: none;
}

header ul li {
  line-height: 40px;
  font-size: 2rem;
}

#user-interface {
  height: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.container-player-selection {
  display: flex;
  flex-direction: column;
}

#header-player-name-selection1,
#header-player-name-selection2 {
  padding: 10px;
  font-size: 1.5rem;
}

#start-restart-game {
  padding: 10px;
  font-size: 1.5rem;
}

/* Gameboard */

.container-gameboard {
  margin: 80px auto 0;
  width: 600px;
  height: 600px;
}

.gameboard {
  width: 100%;
  height: 100%;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  overflow: hidden;
}

.box {
  font-size: 3.5rem;
  display: flex;
  outline: 2px solid black;
  justify-content: center;
  align-items: center;
}
